<div class="container">
  <div>
    <mat-form-field>
      <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filteredValue">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let element of sellers" [value]="element">
          {{element.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-block">
    <table mat-table [dataSource]="dataSource" class="mat-accent" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.seller.name}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> INVOICE AMOUNT </th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.amount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
