<div *ngxPermissionsOnly="'ADMIN'; unauthorisedStrategy: 'disable'; authorisedStrategy: 'enable'">
  <mat-dialog-content class="mat-typography">
    <header>
      <h1>Add Role</h1>
    </header>
    <article>
      <div ngForm #formElement="ngForm" >
        <table class="meta">
          <tr>
            <th><span>Role name</span></th>
            <td>
              <input matInput required type="text" class="form__input" placeholder="Role name" name="name" ngModel>
            </td>
          </tr>
          <tr>
            <th><span>Role permissions</span></th>
            <td>
              <mat-select name="permissions" [(ngModel)]="selected" multiple>
                <mat-option *ngFor="let permission of data" [value]="permission">{{permission}}</mat-option>
              </mat-select>
            </td>
          </tr>
        </table>
      </div>
    </article>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [disabled]="formElement.invalid" (click)="submit(formElement)" mat-dialog-close>Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

</div>
