app-table {
  background-color: #e0e0e0;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
  height: 100%;
}
app-right-bar {
  background-color: #e0e0e0;
  margin: 20px;
  width: 100%;
  height: 100%;
}
.container {
  display: inline-flex;
}
