<mat-dialog-content class="mat-typography">
  <header>
    <h1>Add Invoice</h1>
  </header>
  <article>
    <div ngForm #formElement="ngForm" >
    <table class="meta">
        <tr>
          <th><span>Invoice #</span></th>
          <td>
            <input matInput required type="text" class="form__input" placeholder="Invoice number" name="id" ngModel>
          </td>
        </tr>
        <tr>
          <th><span>Date</span></th>
          <td>
            <input matInput required type="text" class="form__input" placeholder="Invoice date" name="date" ngModel>
          </td>
        </tr>
        <tr>
          <th><span>Seller</span></th>
          <td>
            <select class="form__input" name="seller" [(ngModel)]="seller">
              <mat-label>Seller</mat-label>
              <option *ngFor="let element of data" [ngValue]="element">{{element.name}}</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="seller !== null">
          <th><span>Seller ID</span></th>
          <td>
            {{seller.id}}
          </td>
        </tr>
        <tr>
          <th><span>Seller Address</span></th>
          <td>
            {{seller.address}}
          </td>
        </tr>
        <tr>
          <th><span>Amount</span></th>
          <td>
            <input matInput name="amount" required type="text" class="form__input" placeholder="Invoice amount" ngModel>
          </td>
        </tr>
    </table>
    </div>
  </article>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="formElement.invalid" (click)="submit(formElement)" mat-dialog-close>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
