<mat-dialog-content class="mat-typography">
  <header>
    <h1>Add Invoice</h1>
  </header>
  <article>
    <div #formElement="ngForm" ngForm>
      <table class="meta">
        <tr>
          <th><span>Invoice #</span></th>
          <td>
            <input class="form__input" matInput name="id" ngModel placeholder="Invoice number" required type="text">
          </td>
        </tr>
        <tr>
          <th><span>Date</span></th>
          <td>
            <input class="form__input" matInput name="date" ngModel placeholder="Invoice date" required type="text">
          </td>
        </tr>
        <tr>
          <th><span>Seller</span></th>
          <td>
            <select [(ngModel)]="seller" class="form__input" name="seller">
              <mat-label>Seller</mat-label>
              <option *ngFor="let element of data" [ngValue]="element">{{element.name}}</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="seller !== null">
          <th><span>Seller ID</span></th>
          <td>
            {{seller.id}}
          </td>
        </tr>
        <tr>
          <th><span>Seller Address</span></th>
          <td>
            {{seller.address}}
          </td>
        </tr>
        <tr>
          <th><span>Amount</span></th>
          <td>
            <input class="form__input" matInput name="amount" ngModel placeholder="Invoice amount" required type="text">
          </td>
        </tr>
      </table>
    </div>
  </article>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="submit(formElement)" [disabled]="formElement.invalid" mat-button mat-dialog-close>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
