<div class="container">
  <div>
    <mat-form-field>
      <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filteredValue">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let element of sellersSelect" [value]="element">
          {{element.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-block">
    <table [dataSource]="filteredSellers" class="mat-accent" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
        <td (click)="openDialog(element)" *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> NAME</th>
        <td (click)="openDialog(element)" *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th *matHeaderCellDef mat-header-cell> ADDRESS</th>
        <td (click)="openDialog(element)" *matCellDef="let element" mat-cell> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell> ACTION</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="openEdit(element)"
                  *ngxPermissionsOnly="['edit']; unauthorisedStrategy: 'disable'; authorisedStrategy: 'enable'"
                  class="icon-button">
            <mat-icon aria-hidden="true" svgIcon="edit"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </div>
</div>
