.custom-btn {
  margin: 20px;
  width: 85%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-1 {
  height: 25px;
  border: none;
  border-radius: 20px;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  margin-top: 15px;
}
.btn-1:active {
  top: 2px;
}
.bar-block {
  width: 24vw;
  margin-top: 37px;
  background-color: white;
  color: #353535;
  justify-content: center;
  position: relative;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  border-radius: 20px;
  height: 30%;
}
