<mat-dialog-content class="mat-typography">
  <header>
    <h1>Edit Invoice</h1>
  </header>
  <article>
    <div ngForm #formElement="ngForm" >
      <table class="meta">
        <tr>
          <th><span>Seller #</span></th>
          <td>
            <input
                   value="{{data.id}}"
                   disabled
                   placeholder="Seller number"
                   name="id"
                   [(ngModel)]="id"
            >
          </td>
        </tr>
        <tr>
          <th><span>Name</span></th>
          <td>
            <input value="{{data.name}}" required type="text"placeholder="Seller name" name="name" [(ngModel)]="name">
          </td>
        </tr>
        <tr>
          <th><span>Address</span></th>
          <td>
            <input matInput value="{{data.address}}" required type="text" placeholder="Seller address" name="address" [(ngModel)]="address">
          </td>
        </tr>
      </table>
    </div>
  </article>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="formElement.invalid" (click)="submit(formElement)" mat-dialog-close>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
