<mat-dialog-content class="mat-typography">
  <header>
    <h1>Seller</h1>
  </header>
  <article>
    <table class="meta">
      <tr>
        <th><span>Seller #</span></th>
        <td><span>{{data.id}}</span></td>
      </tr>
      <tr>
        <th><span>Name</span></th>
        <td><span>{{data.name}}</span></td>
      </tr>
      <tr>
        <th><span>Address</span></th>
        <td><span>{{data.address}}</span></td>
      </tr>
    </table>
  </article>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
